[Desktop Entry]
Type=Application
Name=Google Messages
Comment=https://messages.google.com/web as an app
Exec=webapp run google-messages
Icon=internet-chat
StartupWMClass=WebPanel-google-messages
Categories=Network;
X-WebApp-URL=https://messages.google.com/web
X-WebApp-Panel=yes
Actions=extensions;

[Desktop Action extensions]
Name=Extensions and theme
Exec=webapp extensions google-messages
